
.setTask {
  display: flex;
  padding: 5vw;
  input {
    margin: 1rem;
    position: relative;
    background-color: var(--main-background-color-primary);
    color: var(--main-color-primary);
    font-size: 3vh;
    border: var(--main-color-primary) 0.15rem solid;
    border-radius: 2vh;
    padding: 1vh 1vh 1vh 1vh;
    width: 70%;
    float: left;
  }
  button {
    background-color: var(--navbar-color-secondary);
    color: var(--main-color-secondary);
    border: var(--navbar-color-secondary) 0.15rem solid;
    font-size: 3vh;
    font-weight: 500;
    border-radius: 2vh;
    padding: 0 1vh 0 1vh;
    width: 30%;
    margin: 1rem;
  }
}
.listContainer {
  margin: 0 5vw 0 5vw;
  padding: 0;
  border: var(--main-color-primary) 0.15rem solid;
  border-radius: 1rem;
  transition: height 0.5s ease;
  ol {
    padding: 0;
    .listItems {
      padding: 1vh;
      list-style: none;
      font-size: 3vh;
      border-bottom: var(--main-color-primary) 0.1rem solid;
      border-top: var(--main-color-primary) 0.1rem solid;
      margin: 0;
      display: flex;
      justify-content: space-between;
      span {
        max-width: 70%;
        word-wrap: break-word;
      }
      .buttonContainer{
        display: flex;
        flex-direction: row;
        button {
        border: none;
        color: var(--main-color-primary);
        background-color: var(--main-background-color-primary);
        border-radius: 2vh;
        height: fit-content;
        margin: 0 0.3vw 0 0.3vw;
        font-size: 0;
        i {
          font-size: 3vh;
        }
        :active {
          transform: scale(0.87);
        }
      }}
    }
    .selected {
      background-color: #001c3d;
    }
    .timed {
      background-color: #00391a;
    }
  }
}
@media (max-aspect-ratio: 1/1) {
  .listContainer {
    ol {
      .listItems {
        span {
          max-width: 40%;
        }
        button {
          i {
            font-size: 2.5vh;
          }
        }
      }
    }
  }
}
