:root {
  --main-background-color-primary: #eaeaea;
  --main-color-primary: black;
  --navbar-color-primary: #dedede;
  --main-background-color-secondary: #2b2b2b;
  --main-color-secondary: white;
  --navbar-color-secondary: black;
  --max: 999999999;
}
[data-theme="dark"] {
  --main-background-color-primary: #2b2b2b;
  --main-color-primary: white;
  --navbar-color-primary: black;
  --main-background-color-secondary: #eaeaea;
  --main-color-secondary: black;
  --navbar-color-secondary: #dedede;
}
[data-theme="light"] {
  --main-background-color-primary: #eaeaea;
  --main-color-primary: black;
  --navbar-color-primary: #dedede;
  --main-background-color-secondary: #2b2b2b;
  --main-color-secondary: white;
  --navbar-color-secondary: black;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-weight: 400;
}

html {
  color: var(--main-color-primary);
  background-color: var(--main-background-color-primary);
}
body {
  padding: 7vh 0 0 0;
}
button:active {
  transform: scale(0.98);
}
header {
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: var(--max);
  nav {
    margin: 0;
    top: 0;
    background-color: var(--navbar-color-primary);
    padding: 1.3vh 0 1.3vh 0;
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgba($color: #505050, $alpha: 0.1);
    display: flex;
    justify-content: space-between;
    a {
      color: var(--main-color-primary);
      text-decoration: none;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      font-size: 3vh;
      margin: 0 1vh;
      .UIListItem {
        margin: 0 2vh 0 0;
        font-weight: 500;
        h1 {
          margin: 0;
        }
      }
    }
    h1 {
      font-size: 3vh;
      padding: 0;
      margin: 0 0 0 2vh;
      font-weight: 500;
    }
  }
  #HambergerMenu {
    display: none;
    #HambergerContainer {
      flex-direction: column;
      .Hamberger {
        border-radius: 100vh;
        width: 3.8vh;
        height: 0.4vh;
        background-color: var(--main-color-primary);
        margin: 0.4vh 0 0.4vh 2vh;
        display: inherit;
      }
    }
  }
}
main {
  min-height: 66vh;
}
#root {
  min-height: 100vh;
}
.header,
.description {
  text-align: center;
}
h1,
.header {
  padding: 1vh;
  font-size: 5vh;
}
p,
.description {
  padding: 0.5vh;
  font-size: 2vh;
}
.links {
  display: block;
  text-align: center;
  position: relative;
  color: #d19af8;
  margin: 0;
  padding: 0;
  font-size: 3vh;
  width: 100%;
}
section {
  padding: 1rem 7% 1rem 7%;
}
#icon {
  width: 2.5vh;
  height: 2.5vh;
}
.Uipseudo-element {
  width: 0%;
  height: 0.5vh;
  background-color: #0077ff;
  border-radius: 100vh;
}
.pictureContainer {
  display: grid;
  grid-template-rows: 42.75vh 42.75vh;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;

  .thumbnail {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  .tabThumbnail {
    grid-row: span 1;
    grid-column: span 1;
  }
  article {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: var(--main-background-color-secondary) 0.4vh solid;
    border-radius: 2vh;
    img {
      width: 100%;
      height: 100%;
      transition: inherit;
      filter: brightness(1);
    }
    div {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
      background-color: #cacacab0;
      transition: inherit;
      border-bottom: white 0.5vh solid;
      h1 {
        margin-top: 2vh;
        font-size: 3vh;
        line-height: 3vh;
        text-align: center;
      }
      p {
        font-size: 2.5vh;
        text-align: center;
      }
      transform: translate(0%, -101%);
    }
  }
}
#contactUs {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  .aboutUs {
    .contactHeader {
      font-size: 3vh;
    }
    text-align: center;
    width: 70%;
    border-right: 0.2rem solid var(--main-color-secondary);
    padding-right: 5%;
  }
  .contactUs {
    .contactHeader {
      font-size: 3vh;
    }
    padding-left: 5%;
    width: 30%;
    a {
      color: #3f055a;
    }
  }
}
.first-article {
  margin: 0;
  padding: 0;
}
.pictureContainerMobile {
  display: none;
  article {
    margin-top: 10rem;
    img {
      width: 100%;
      height: 100%;
      border-radius: 5vw;
    }
    h1 {
      text-align: center;
      font-size: 6vw;
    }
    p {
      text-align: center;
      font-size: 3.5vw;
    }
  }
}

@media (max-aspect-ratio: 1/1) {
  body {
    padding: 4vh 0 0 0;
  }
  .UIListItem span {
    display: none;
  }
  header nav #HambergerMenu {
    display: block;
    #HambergerContainer {
      display: flex;
    }
  }
  nav .logo {
    display: none;
  }
  nav ul .UIListItem {
    margin: 0 2vh 0 1vh;
  }
  .pictureContainer {
    display: none;
  }
  .pictureContainerMobile {
    display: block;
    article {
      margin: 6vh 0;
    }
  }

  h1,
  .header {
    font-size: 6vw;
  }
  p,
  .description {
    font-size: 4vw;
  }
  #contactUs {
    flex-direction: column;
    .aboutUs {
      width: 100%;
      padding-right: 0;
      border-right: 0px;
      border-bottom: 0.1rem solid var(--main-background-color-light);
    }
    .contactUs {
      padding-left: 0;
      width: 100%;
    }
  }
}
